server:
  port: 8087
spring:
  application:
    name: switches
  datasource:
    master:
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://localhost:3306/level2_user_login?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: root
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
logging:
  level:
    com.huayun.cms.slave1Mapper: debug