<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayun.cms.mapper.CalendarMapper">
    <!--新增客户数量-->
    <select id="addUserCount" resultType="com.huayun.cms.entity.UserStatus">
        SELECT A.DATE date, COUNT(START_DATE) count
        FROM
        (SELECT * FROM CALENDAR WHERE DATE &gt;= #{startDate} AND DATE &lt;= #{endDate}) A
        LEFT JOIN
        (SELECT START_DATE FROM TB_USER_INFO) AS B
        ON LEFT(B.START_DATE, 7) = A.DATE
        GROUP BY A.DATE ORDER BY A.DATE ASC;
    </select>

    <!--注销客户数量-->
    <select id="cancelUserCount" resultType="com.huayun.cms.entity.UserStatus">
        SELECT A.DATE date, COUNT(END_DATE) count
        FROM
        (SELECT * FROM CALENDAR WHERE DATE &gt;= #{startDate} AND DATE &lt;= #{endDate}) A
        LEFT JOIN
        (SELECT END_DATE FROM TB_USER_INFO) AS B
        ON LEFT(B.END_DATE, 7) = A.DATE
        GROUP BY A.DATE ORDER BY A.DATE ASC;
    </select>

    <!--当前用户数量-->
    <select id="currentUserCount" resultType="com.huayun.cms.entity.UserStatus">
        SELECT A.DATE date, COUNT(END_DATE) count
        FROM
        (SELECT * FROM CALENDAR WHERE DATE &gt;= #{startDate} AND DATE &lt;= #{endDate}) A
        LEFT JOIN
        (SELECT END_DATE FROM TB_USER_INFO) AS B
        ON LEFT(B.END_DATE, 7) &lt; A.DATE
        GROUP BY A.DATE ORDER BY A.DATE ASC;
    </select>
</mapper>
